<div class="panel content">
  <h3>Specimens found: <%= @specimens.length %></h3>
  <table class="tablesorter">
    <thead>
      <tr>
        <%= fancy_th_tag(name: 'Type') -%>
        <%= fancy_th_tag(name: 'Total') -%>
        <%= fancy_th_tag(name: 'Preparation type') -%>
        <%= fancy_th_tag(name: 'Repository') -%>
        <%= fancy_th_tag(name: 'Identifier', group: 'associated') -%>
        <%= fancy_th_tag(name: 'Taxon determination', group: 'associated') -%>
        <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
        <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
      </tr>
    </thead>

    <tbody>
    <% @specimens.each do |specimen| %>
      <%= content_tag(:tr, class: [:contextMenuCells, :btn, 'btn-neutral']) do -%>
        <td><%= specimen.type %></td>
        <td><%= specimen.total %></td>
        <td><%= object_tag(specimen.preparation_type) %></td>
        <td><%= object_tag(specimen.repository) %></td>
        <td> <%= specimen.preferred_catalog_number.try(:cached) -%> </td>
        <td> <%= determination_tag(specimen.current_taxon_determination) -%> </td>
        <%= fancy_metadata_cells_tag(specimen) -%>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
